{% extends 'base.html.twig' %}

{% block title %}Contacts!
{% endblock %}


{% block body %}

	<style>
		{
			# helper classes #
		}
		.w-full {
			width: 100%;
		}
		.w-50 {
			width: calc(100vw - 50%);
		}
	</style>

	<div class="d-flex justify-content-center w-full mt-3">
		<form class="mw-75 border p-2" action="{{ path('contacts') }}" methods="POST" name="contact_form">
			<h3 class="text-center">Kapcsolat</h3>
			<div class="mb-3">
				<label for="name" class="form-label">Neved</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Gipsz Jakab" id="name">
				</div>
			</div>

			<div class="mb-3">
				<label for="name" class="form-label">Email címed</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="email_address">@</span>
					</div>
					<input type="email" class="form-control" placeholder="gipsz@jakab.com" id="email_address">
				</div>
			</div>

			<div class="mb-3">
				<label for="message" class="form-label">Üzenet szövege</label>
				<textarea class="form-control" id="message" rows="3"></textarea>
			</div>

			<div class="mb-3">
				<button type="submit" class="btn btn-success w-full">Küldés</button>
			</div>
		</form>
	</div>
{% endblock %}
